<div class="containers">

    <div class="chart">
      <div class="chart-label">
        <span class="t2">45%</span>
        <span class="text-muted">saving</span>
      </div>
      <svg class="progress" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid meet">
        <circle r="40" cx="50" cy="50" stroke-width="7" fill="transparent" stroke="#E2E8F0"></circle>
        <circle id="chartfill" r="40" cx="50" cy="50" stroke-width="7" stroke-dasharray="245" stroke-dashoffset="245" fill="transparent" stroke="#067CF8" stroke-linecap="round" class="meter"></circle>
            </svg>
    </div>
  
 
</div>