<!DOCTYPE html>
<html lang="en">

<head>
    <title>Camera</title>
</head>

<body>
    <app-navbar></app-navbar>
    <app-settings></app-settings>

    <div class="overview">
        <!-- camera.component.html -->
        <div *ngIf="showEditForm" class="edit-form">
            <h2>Edit Roles</h2>
            <form (submit)="onEditSubmit()">

                <input type="hidden" id="email" name="email" [(ngModel)]="selectedUsers[2]">

                <div class="form-row">
                    <label for="role_name" style="margin-left: 0%;">Role name</label>
                    <select id="role_name" name="role_name" [(ngModel)]="selectedUsers[0]" style="width: 65%;">
                        <option *ngFor="let role of roles" [value]="role">{{ role }}</option>
                    </select>
                </div>


                <div class="form-row">
                    <label for="is_active" style="margin-left: 0%;">Status</label>
                    <select id="is_active" name="is_active" [(ngModel)]="selectedUsers[1]" style="width: 65%;">
                        <option value="active">Active</option>
                        <option value="inactive">Inactive</option>
                    </select>
                </div>

                <div class="button-container">
                    <button type="submit" id="save-button">Save</button>
                    <button type="button" (click)="cancelEdit()" id="cancel-button">Cancel</button>
                </div>
            </form>
        </div>
        <!-- Inside your <body> tag -->

        <div class="data-table user-list" id="user-list">

            <h2>Registered Users List
                <!-- Search bar -->
                <div class="search-bar">
                    <input #searchInput type="text" placeholder="Search..." [(ngModel)]="searchText" (input)="search()">
                    <i class="fas fa-search"></i> <!-- Font Awesome search icon -->
                    <div class="search-results" *ngIf="searchText">
                        <div *ngFor="let result of searchResults">
                            <span [innerHTML]="result"></span>
                        </div>
                    </div>
                </div>
            </h2>
            <table>
                <thead>
                    <tr>  <th>Username</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                      
                    
                        
                        <th>Role</th>
                        <th>Status</th>
                        <th>Action</th>

                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let user of users; index as i">
                        <tr><td>{{ user.username || '---' }}</td>
                            <td>{{ user.first_name || '---' }}</td>
                            <td>{{ user.last_name || '---' }}</td>
                         
                            
                          
                            <td>{{ user.role_name || '---' }}</td>
                            <td>{{ user.is_active || '---' }}</td>
                            <td class="button-cell">
                                <span class="action-icon" (click)="startEditing(user)">
                                    <svg class="icon2" viewBox="0 0 512 512">
                                        <path
                                            d="M490.3 40.4C512.2 62.27 512.2 97.73 490.3 119.6L460.3 149.7L362.3 51.72L392.4 21.66C414.3-.2135 449.7-.2135 471.6 21.66L490.3 40.4zM172.4 241.7L339.7 74.34L437.7 172.3L270.3 339.6C264.2 345.8 256.7 350.4 248.4 353.2L159.6 382.8C150.1 385.6 141.5 383.4 135 376.1C128.6 370.5 126.4 361 129.2 352.4L158.8 263.6C161.6 255.3 166.2 247.8 172.4 241.7V241.7zM192 63.1C209.7 63.1 224 78.33 224 95.1C224 113.7 209.7 127.1 192 127.1H96C78.33 127.1 64 142.3 64 159.1V416C64 433.7 78.33 448 96 448H352C369.7 448 384 433.7 384 416V319.1C384 302.3 398.3 287.1 416 287.1C433.7 287.1 448 302.3 448 319.1V416C448 469 405 512 352 512H96C42.98 512 0 469 0 416V159.1C0 106.1 42.98 63.1 96 63.1H192z">
                                        </path>
                                    </svg>

                                </span>

                            </td>

                        </tr>
                    </ng-container>
                </tbody>
            </table>
        </div>
    </div>
</body>

</html>