<div class="container">
    <div class="tabs">
        <div class="move">
      <a class="nav-link" [class.active]="isActive('reports')" href="/reports">
        <i class="fa-solid fa-list-check"></i>     
           <label class="tab tab-label">Status</label>
      </a>
  
      <a class="nav-link" [class.active]="isActive('permissions')"  href="/permissions">
        <i class="fa-solid fa-magnifying-glass-chart"></i>
        <label class="tab tab-label">Analytics</label>
      </a>
       
      <a class="nav-link" [class.active]="isActive('home')">
        <i class="fa-solid fa-book"></i>
        <label class="tab tab-label">Reports</label>
        <input type="radio" id="radio-3" name="tabs" /> 
      </a>
  
      

  
  
    </div>
  
  
  
      
    </div>
  </div>
  