<!DOCTYPE html>
<html>

<head>
    <title>Slide Navbar</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <style>
        /* Add your styles here */
    </style>
</head>

<body>

    <app-navbar></app-navbar>

    <div class="main">

        <input type="checkbox" id="chk" aria-hidden="true">

        <div class="signup">
            <form (submit)="submitForm()">
                <label for="chk" aria-hidden="true">Reset Password</label>

                <div class="input-group">
                    <input name="new_password" [(ngModel)]="new_password" type="password"
                        placeholder="Enter new password" required>
                    <i class="material-icons">lock</i>
                </div>

                <div class="input-group">
                    <input name="confirm_new_password" [(ngModel)]="confirm_new_password" type="password"
                        placeholder="Enter confirm password" required>
                    <i class="material-icons">lock</i>
                </div>

                <button type="submit" class="button signup-button">Submit</button>
            </form>
        </div>
        <!--
    <div class="signin">
        <h1>Reset Password</h1>
        <form (submit)="submitForm()">
           
            <label>New Password</label>
            <div class="icon-container">
                <i class="fas fa-unlock-alt"></i>
                <input name="new_password" [(ngModel)]="new_password" type="password" placeholder="Enter new password" required>
            </div>
            <div class="submit-container">
                <button type="submit">Submit</button>
        </form>
    
    </div>
</div>-->
    </div>

</body>

</html>